.btt{
    width: 20px;
}

.bttMenu{
    background-color: #F8F5E4 !important;
}

.bttMenuSide{
    width: 25px;
}

.btn{
    margin:2px
}

tbody td, thead th{
    text-align: center;
    vertical-align: middle;
}

.spinner-border{
    position: absolute;
    top: 50%;
    left: 50%;
    
}




.navbar .container{
    margin:0;
}