.btt{
    width: 20px;
}

.btn{
    margin:2px
}

tbody td, thead th{
    text-align: center;
    vertical-align: middle;
}

.spinner-border{
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 5px !important;
}