::placeholder{
    color: #fff;
    opacity: 0.5;
}

.searchbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin:10px 0px;
}

.inputText{
    width: 600px;
    padding: 5px;
    border: 1px solid #cecece;
    border-radius: 5px;
    outline: none;
    background-color: #10828C;
    color: #fff;
    font-size: 24px;
    margin-left: 10px;
}

.iconSearch{
    box-shadow: inset 16px 20px 11px -16px rgba(209,209,209,1);

}

.iconSearch:hover{
    background-color: #10828C;
    cursor: pointer;
}

.iconSearch:active{
    background-color: #F97300;
}
